html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#container {
  width: 100%;
}

#content-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  height: 1000px;
  overflow-y: hidden;
}

.brand-logo {
  margin-left: 0.5rem;
}

.brewery .card-content {
  height: 350px;
}

.brewery .brewery-detail-view.selected {
  outline: 2px solid #ff9800;
}

.brewery .brewery-detail-view .brewery-information {
  display: flex;
  flex-direction: column;
}

.brewery-information span {
  margin: 0.25rem 0;
}

#brewery-list-view,
#map-view {
  max-height: 1000px;
}

#brewery-list-view {
  overflow-y: scroll;
  max-height: 1000px;
}

#map-view #map {
  height: 1000px;
}

/* Overrides */
#brewery-list-view .input-field input[type="text"]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: none;
}

#brewery-list-view .input-field .prefix.active {
  color: #ff9800;
}

#brewery-list-view .input-field .prefix {
  right: 0;
}

#brewery-list-view .input-field .prefix:hover {
  cursor: pointer;
}

/* Footer */
#footer {
  margin: 0.5rem 0 0 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#footer a {
  color: #fff;
}

/* Loading Screen */
#loading-screen-component {
  height: 100vh;
}

#loading-screen-component .title {
  margin-top: 25%;
}

/* Spinner */
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Helpers */
.mb-0 {
  margin-bottom: 0px;
}

.text-bold-500 {
  font-weight: 500 !important;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  #map-view {
    margin-bottom: 2rem;
  }

  #map-view #map {
    height: 300px;
  }

  .brewery .card-content {
    height: 100%;
  }

  #content-container {
    overflow-y: scroll;
  }
}
