.hero-body {
  padding-top: 2rem;
  min-height: 1000px;
}

#result-list {
  margin-top: 2rem;
}

.align-items-center {
  align-items: center;
}

.ml-1 {
  margin-left: 1rem;
}

#footer {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
