body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  padding: 0 15px;
}

.checkbox-container {
  display: flex;
}

.checkbox-container p {
  margin-right: 2rem;
}

/**
* Result styles
*/
#result-list {
  margin-top: 2rem;
}

.hours {
  margin-top: 1rem;
  width: 75%;
}

.hours p {
  display: flex;
  justify-content: space-between;
}

.hours .bold {
  font-weight: 700;
}

.location-container {
  display: flex;
  justify-content: space-between;
}

/* .location-container .address-container {
}

.location-container .distance-container {
} */

.get-directions:hover {
  cursor: pointer;
  color: #1565c0;
}

#loader {
  background-color: rgba(10, 10, 10, 0.86);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}

#loader #icon {
  position: absolute;
  left: 50%;
  top: 30%;
  color: #fff;
  height: 100vh;
}

/**
* Notification
*/
.notification {
  padding: 1rem;
  width: 50%;
  margin: 2rem auto;

  border-radius: 0.5rem;
  position: relative;
}

.notification .content {
  font-size: 125%;
}

.notification.success {
  border: 1px solid #c3e6cb;
  background: #d4edda;
}

.notification.success .content {
  color: #155724;
}

.notification.error {
  border: 1px solid #f5c6cb;
  background: #f8d7da;
}

.notification.error .content {
  color: #721c24;
}

.notification .content strong {
  margin-right: 0.5rem;
}

.notification span {
  position: absolute;
  right: 5px;
  top: 5px;
}

.notification span:hover {
  cursor: pointer;
}

.faded {
  opacity: 0.25;
}

.mr {
  margin-right: 0.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

/**
* Search
*/
#search-form {
  width: 75%;
  margin: 0 auto;
}

#not-found-page {
  margin: 10rem 0 12rem 0;
}

/**
* Media Queries
*/
@media only screen and (max-width: 600px) {
  .checkbox-container {
    justify-content: space-evenly;
  }

  .checkbox-container p {
    margin-right: 0;
  }

  #btn-container {
    text-align: center;
  }

  .hours {
    width: 100%;
  }
}
